.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: white;
  padding: 5px;
  overflow: hidden;
}

.map-name {
  position: absolute;
  top: 45%;
}

.stats {
  position: absolute;
  top: 50px;
}

.boosters {
  padding-top: 35px;
}

.hero-info {
  position:absolute;
  bottom: 15px;
  left: 5px;
  padding: 0;
  width: 48%;
}

.pet-info {
  position:absolute;
  bottom: 55px;
  left: 5px;
  padding: 0;
  width: 12%;
}

.pet-info-upper {
  bottom: 75px;
}

.progress-small {
  height: 0.4rem;
}

.target-info {
  position:absolute;
  bottom: 15px;
  right: 5px;
  padding: 0;
  width: 48%;
}

.view-button {
  position:absolute;
  top: 0px;
  right: 5px;
}
