<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DksPlugin Remote Stats</title>
        <link rel="icon" href="https://raw.githubusercontent.com/darkbot-reloaded/DarkBot/master/src/main/resources/icon.png">
        <script src="../static/jquery-2.1.4.js"></script>
        <script src="../static/time.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <style>
            .bg-color {
                background-color: rgb(60, 60, 60);
            }

            .bg-color-light {
                background-color: rgb(120, 120, 120);
            }

            .bg-color-dark {
                background-color: #343a40 !important;
            }

            .container-fluid {
                min-height: 100vh;
            }

            .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
                color: white;
                background-color: rgb(60, 60, 60) !important;
            }

            .margin-inner-progress {
                margin-top: 7px;
            }

            .bg-primary-op {
                background-color: #0275d84D;
            }

            .bg-success-op {
                background-color: #5cb85c4D;
            }

            .bg-warning-op {
                background-color: #f0ad4e4D;
            }
        </style>
    </head>
    <body class="bg-color">
        <div class="container-fluid text-white">
            <div class="row p-1">
                <div class="col">
                    <button id="start" class="btn btn-primary btn-block my-2" onclick="startStream()">start</button>
                    <button id="stop" class="btn btn-primary btn-block my-2" onclick="stopStream()">stop</button>
                </div>
            </div>
            <nav>
              <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active text-white" id="map-stats-tab" data-toggle="tab" href="#map-stats" role="tab" aria-controls="map-stats" aria-selected="true">Bot</a>
                <a class="nav-item nav-link text-white" id="logs-viewer-tab" data-toggle="tab" href="#logs-viewer" role="tab" aria-controls="logs-viewer" aria-selected="false">Logs</a>
                <a class="nav-item nav-link text-white" id="log-scrapper-tab" data-toggle="tab" href="#log-scrapper" role="tab" aria-controls="log-scrapper" aria-selected="false">Scrapper</a>
                <a class="nav-item nav-link text-white" id="palladium-stats-tab" data-toggle="tab" href="#palladium-stats" role="tab" aria-controls="palladium-stats" aria-selected="false">Palladium</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="map-stats-tab" id="map-stats">
                    <div class="row">
                        <!-- STATS TABLE -->
                        <div class="col-12 col-md-6 table-responsive order-0 order-md-1">
                            <div class="row">
                                <div class="col">
                                    <table class="table table-sm table-dark text-center" id="dataTable">
                                        <thead>
                                            <tr>
                                              <th scope="col"></th>
                                              <th scope="col">total</th>
                                              <th scope="col">earned</th>
                                              <th scope="col">earned/h</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">uri</th>
                                                <td id="totalUridium">0</td>
                                                <td id="earnedUridium">0</td>
                                                <td id="earnedHourUridium">0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">creds</th>
                                                <td id="totalCredits">0</td>
                                                <td id="earnedCredits">0</td>
                                                <td id="earnedHourCredits">0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">exp</th>
                                                <td id="totalExperience">0</td>
                                                <td id="earnedExperience">0</td>
                                                <td id="earnedHourExperience">0</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">honor</th>
                                                <td id="totalHonor">0</td>
                                                <td id="earnedHonor">0</td>
                                                <td id="earnedHourHonor">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row mt-2 d-none d-md-flex">
                                <div class="col-12 col-lg-6" id="nearbyNpcsTitle-md">
                                    <h4 class="mb-1">nearby npcs</h4>
                                    <p class="text-muted text-monospace mb-1" style="white-space: pre-wrap" id="nearbyNpcs-md"></p>
                                </div>
                                <div class="col-12 col-lg-6" id="nearbyPlayersTitle-md">
                                    <h4 class="mb-1">nearby players</h4>
                                    <p class="text-muted mb-1" style="white-space: pre-line" id="nearbyPlayers-md"></p>
                                </div>
                            </div>
                        </div>
                        <!-- MAP OVERLAY -->
                        <div class="col-12 col-md-6 order-1 order-md-0">
                            <!-- STATUS -->
                            <div class="row">
                                <div class="col">
                                    <div class="row">
                                        <div class="col text-left">
                                            <p class="h5 mb-0" id="mapName"></p>
                                        </div>
                                        <div class="col text-center">
                                            <p class="h5 mb-0" id="runningTime"></p>
                                        </div>
                                        <div class="col text-right">
                                            <p class="h5 mb-0" id="ping"></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="my-1 small" id="status"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MAP -->
                            <div class="row">
                                <div class="col-12">
                                    <canvas id="map" class="rounded border bg-color-light"></canvas>
                                </div>
                            </div>
                            <!-- HEALTH -->
                            <div class="row">
                                <div class="col">
                                    <div id="hullw" class="progress bg-warning-op position-relative mt-1">
                                        <div id="hull" class="progress-bar bg-warning" role="progressbar"></div>
                                        <p id="hull-desc" class="margin-inner-progress justify-content-center font-weight-bold d-flex position-absolute w-100 text-light mb-0"></p>
                                    </div>
                                    <div id="hpw" class="progress bg-success-op position-relative mt-1">
                                        <div id="hp" class="progress-bar bg-success" role="progressbar"></div>
                                        <p id="hp-desc" class="margin-inner-progress justify-content-center font-weight-bold d-flex position-absolute w-100 text-light mb-0"></p>
                                    </div>
                                    <div id="shieldw" class="progress bg-primary-op position-relative mt-1">
                                        <div id="shield" class="progress-bar" role="progressbar"></div>
                                        <p id="shield-desc" class="margin-inner-progress justify-content-center font-weight-bold d-flex position-absolute w-100 text-light mb-0"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- TARGET -->
                            <div id="target" class="row">
                                <div class="col-12">
                                    <p id="targetName" class="mt-2 mb-0 font-weight-bold"></p>
                                </div>
                                <div class="col-12">
                                    <div id="targetHpw" class="progress bg-success-op position-relative mt-1">
                                        <div id="targetHp" class="progress-bar bg-success" role="progressbar"></div>
                                        <p id="targetHp-desc" class="margin-inner-progress justify-content-center font-weight-bold d-flex position-absolute w-100 text-light mb-0"></p>
                                    </div>
                                    <div id="targetShieldw" class="progress bg-primary-op position-relative mt-1">
                                        <div id="targetShield" class="progress-bar" role="progressbar"></div>
                                        <p id="targetShield-desc" class="margin-inner-progress justify-content-center font-weight-bold d-flex position-absolute w-100 text-light mb-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 d-flex d-md-none">
                        <div class="col-12" id="nearbyNpcsTitle-sm">
                            <h4 class="mb-1">nearby npcs</h4>
                            <p class="text-muted text-monospace mb-1" style="white-space: pre-wrap" id="nearbyNpcs-sm"></p>
                        </div>
                        <div class="col-12" id="nearbyPlayersTitle-sm">
                            <h4 class="mb-1">nearby players</h4>
                            <p class="text-muted mb-1" style="white-space: pre-line" id="nearbyPlayers-sm"></p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="logs-viewer-tab" id="logs-viewer">
                    <div class="row">
                        <div class="col-12">
                            <label class="col-form-label font-weight-bold">Game Logs</label>
                            <textarea class="form-control bg-color-dark text-light" rows="15" id="log-std-lines" disabled></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="log-scrapper-tab" id="log-scrapper">
                    <div class="row">
                        <div class="col table-responsive">
                            <table class="table table-sm table-dark text-center" id="patternsTable">
                                <thead>
                                    <tr>
                                        <th scope="col">pattern</th>
                                        <th scope="col">occ.</th>
                                        <th scope="col">occ./h</th>
                                        <th scope="col">total</th>
                                        <th scope="col">total/h</th>
                                    </tr>
                                </thead>
                                <tbody id="patternsTableBody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel" aria-labelledby="palladium-stats-tab" id="palladium-stats">
                    <div class="row">
                        <div class="col">
                            <p class="mb-0 font-weight-bold">status:
                                <span class="font-weight-normal" id="pstats-status"></span>
                            </p>
                            <p class="mb-0 font-weight-bold">running time:
                                <span class="font-weight-normal" id="pstats-running"></span>
                            </p>
                            <p class="mb-0 font-weight-bold">palladium collected:
                                <span class="font-weight-normal" id="pstats-collected"></span>
                            </p>
                            <p class="mb-0 font-weight-bold">palladium/h:
                                <span class="font-weight-normal" id="pstats-collected-hour"></span>
                            </p>
                            <p class="mb-0 font-weight-bold">ee/h:
                                <span class="font-weight-normal" id="pstats-ee-hour"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>